.container_contact{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #FAFAFA;
    margin-left: 200px;
    
    width: 100%;
    height: 100%;
}

.contact_header{
    display: flex;
    align-items: center;
    gap: 1rem;    
    
}

.contact_logo {
    width: 45px;
    height: 45px;
    color: #252323;
    padding-top: 20px;
    
}

.contact_logos {
    width: 30px;
    height: 30px;
    color: #252323;
    padding-top: 10px;
    margin-right: 10px;
}


.contact_header p{
    font-size: 39px;
    padding-top: 14px;
    font-weight: bold;
    color: #252323;
}

.leyenda{
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 450;
    text-align: left;
    margin-bottom: 1rem;
    
    
}

.contact_options{
    display: flex;
    flex-direction: column;
    align-items:start;
    
    
}

.contact_list{
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    color: darkblue;
    font-weight: 450;
    font-size: 20px;
}

@media(max-width: 780px){

}

@media(max-width: 480px){
    .container_contact{
        margin: 0;
    }
    .contact_logo {
        width: 35px;
        height: 35px;
    }

    .contact_header p{
        font-size: 30px;
    }

    .leyenda{
        font-size: 15px;
        
    }

    .link{
        font-size: 15px;
    }
}