.container{
    
    background-color: #FAFAFA;
    height: 100%;  
    margin-left: 160px;
    text-align: left;
    
}

.projects_header{
    display: flex;

    align-items: center;
    gap: 1rem;    
    
}

.projects_logo {
    width: 45px;
    height: 45px;
    color: #252323;
    padding-top: 20px;
    
}

.projects_header p{
    font-size: 39px;
    padding-top: 14px;
    font-weight: bold;
    color: #252323;
}

.project_title{
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 500;
    margin: 1rem 0;
    color: #252323;
}

.project_description{
    text-align: start;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #252323;
}